@media (max-width: 350px ) {
  .orderid-small {
    font-size: 0.63rem;
  }
}

@media (min-width: 351px ) {
  .orderid-small {
    font-size: 0.8rem;
  }
}

@media (max-width: 350px ) {
  .order-content-small {
    font-size: 0.7rem;
  }
}

@media (min-width: 351px ) {
  .orderid-small {
    font-size: 0.8rem;
  }
}
